body {
  background-color: white; /*background-color pagina*/
}
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* text */
p {display: block;
   margin-top: 1em;
   margin-bottom: 1em;
   margin-left: 0;
   margin-right: 0;
   font-size: 1.0em;
   font-family: Arial, Helvetica, sans-serif;
}
.p_big {font-size: 1.2em;
}
/* headings */
h1 {display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.h2_big {font-size: 1.7em;
}
h3 {display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 {display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.h4_big {font-size: 1.2em;
}
h5 {display: block;
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
	color:#494949;
}
h5:hover {color: red;
}
.h5_big {font-size: 1.2em;
}
h6 {display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
/* table */
table, th, td {
  border: .1em solid black;
  border-collapse: collapse;
}
th {display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: left;
	padding: 5px;
	background-color: #ddd;
}
.th_big {font-size: 1.2em;
}
td {
  display: table-cell;
  vertical-align: inherit;
  padding: 5px;
}
.td_big {font-size: 1.2em;
}
li {font-size: 1.0em;
}
.li_big {font-size: 1.2em;
}

/*Header*/
.header_std {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  background-color: #666; /*#1abc9c*/
  color: white;
}
.header_std h1 {
  font-size: 40px;
}
.header_std p {
  font-size: 20px;
}


/*Navigation bar*/

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
}

/* Style the navigation bar links */
.navbar a.cur {
  float: left;
  display: block;
  color: red;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
  font-weight: bold;
}

/* Change color on hover */
.navbar a.cur:hover {
  background-color: #333;
  color: red;
  font-weight: bold;
}


/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* figcaption*/
figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: left;
}
/* link */
a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: red;
}

a:active {
  text-decoration: none;
  color: white;
}

/* Footer */
.footer_std {
  padding: 2px;
  text-align: center;
  background: #333;/* #777; #ddd;*/
  color: white;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
